@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .first {
    @apply font-primary;
  }

  .second {
    @apply font-secondary;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*before dos links no header*/

.noHover::before {
  content: "";
  position: absolute;
  display: block;
  bottom: -6px;
  height: 2px;
  width: 0%;
  background-color: #5865f2;
  transition: 0.3s ease-in;
}

.yesHover:hover::before {
  width: 100%;
  transition: 0.3s ease-out;
}

.bar::-webkit-scrollbar {
  background-color: #fff;
  width: 8px;
  border-radius: 0.5rem;
}
.bar::-webkit-scrollbar-thumb {
  background-color: #5865f2;
  width: 100%;
  border-radius: 0.5rem;
}
.bar::-webkit-scrollbar-thumb:hover {
  background: #414bbb;
}
